<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Uploadscls</title>
</head>
<body>
    <form method="post" action="/upload" enctype="multipart/form-data" >
        <input type="file" name="profilePhoto">
        <button type="submit">Upload</button>
    </form>
</body>
</html>